/*GÉNÉRIQUE*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

/*BASE*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0px;
    padding: 0px;
}


/*ELEMENTS*/

h2 {
    font: bold 2.12rem "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: #F6F7FA;
    margin: 0px;
}

.cta {
    background-color: #FF00F2;
    color: #F6F7FA;
    text-decoration: none;
    font: bold 1.12rem "Inria Sans", sans-serif;
    text-transform: uppercase;

}

.cta:hover {
    background-color: #F6F7FA;
    color: #FF00F2;

}

/*SECTIONS*/

/*Header*/

.header {
    background-color: #081E99;
    padding: 20px 0;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #F6F7FA;
    font: bold 1.12rem "Inria Sans", sans-serif;
}

.menu a:hover {
    color: #FF00F2;
}


/*Hero*/

.hero {
    height: 810px;
    background: url(../images/hero.jpg) no-repeat;
    background-size: cover;
    margin: 0;
}

.hero .wrapper {
    height: 810px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.boite {
    background-color: #FF00F2;
    opacity: 70%;
    width: 417px;
    height: 164px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 64px;
}

.boite h1 {
    color: #F6F7FA;
    font: bold 1.88rem "Merriweather Sans", sans-serif;

}

/*accroche*/

.accroche {
    background-color: #081E99;
    height: 132.47px;
}

.accroche .wrapper {
    height: 132.47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accroche p {
    margin: 0;
    font: normal 1.88rem "Merriweather Sans", sans-serif;
    color: #F6F7FA;
}

.accroche .cta {
    padding: 10px 30px;
    border-radius: 8px;
}


/*Produits*/

.produits {
    background-color: #000E5F;
    height: 857px;
}

.produits h2 {
    padding-top: 45px;
    padding-bottom: 30px;
}

.enfants {
    display: flex;
    gap: 13px;
}

.adultes {
    display: flex;
    gap: 13px;
}

.produits h3 {
    font: bold 1.37rem "Inria Sans", sans-serif;
    color: #F6F7FA;
}

.produits .cta {
    font-size: 1.5rem;
    padding: 15px 40px;
    border-radius: 8px;
}

.voir {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    text-decoration: none;
    font: lighter 1rem "Inria Sans", sans-serif;
    color: #F6F7FA;
}

.section:hover {
    color: #FF00F2;
}

.sections{
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
}

/*Équipe*/

.equipe {
    height: 762px;
    background: url(../images/equipe.jpg) no-repeat;
    background-size: cover;
}

.equipe h2 {
    text-align: center;
    padding-top: 45px;
}

.equipe p {
    font: normal 1.12rem "Inria Sans", sans-serif;
    color: #F6F7FA;
    text-align: center;
}


.images {
    display: flex;
    gap: 19px;
}

.images img {
    border: solid 10px transparent;
}

.images img:hover {
    border: solid 10px #FF00F2;
}

.equipe h3 {
    font: bold 1.37rem "Inria Sans", sans-serif;
    text-transform: uppercase;
    color: #F6F7FA;
    text-align: center;
}


/*Contact*/
.contact {
    background-color: #000E5F;
    height: 806.33px;
}

.contact h2 {
    text-align: center;
    padding-top: 45px;
}

.contact p {
    text-align: center;
    font: normal 1.12rem "Inria Sans", sans-serif;
    color: #F6F7FA;
}

.contact .cta {
    padding: 15px 40px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.courriel {
    display: flex;
    justify-content: center;
}

.contact img {
    border: solid 10px #FF00F2;
}

/*Footer*/

.footer {
    background-color: #0026FF;
}

.footer .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 52px;
    list-style: none;
}


.contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenu span {
    width: 42px;
    height: 42px;
    border: solid 2px #F6F7FA;
    border-radius: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: #F6F7FA;

}

.contenu span:hover {
    color: #FF00F2;
    border: solid 2px #FF00F2;
}

.footer .wrapper {
    display: flex;
    flex-direction: column;
}

.footer p {
    font: normal 1.12rem "Inria Sans", sans-serif;
    color: #F6F7FA;
    padding-left: 40px;
}