/*GÉNÉRIQUE*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*BASE*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0px;
    padding: 0px;
}


/*ELEMENTS*/

h2 {
    font: bold 2.12rem "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: #F6F7FA;
    margin: 0px;
}

.cta {
    background-color: #FF00F2;
    color: #F6F7FA;
    text-decoration: none;
    font: bold 1.12rem "Inria Sans", sans-serif;
    text-transform: uppercase;

}

.cta:hover {
    background-color: #F6F7FA;
    color: #FF00F2;

}

/*SECTIONS*/

/*Header*/

.header {
    background-color: #081E99;
    padding: 20px 0;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #F6F7FA;
    font: bold 1.12rem "Inria Sans", sans-serif;
}

.menu a:hover {
    color: #FF00F2;
}


/*Hero*/

.hero {
    height: 810px;
    background: url(../images/hero.jpg) no-repeat;
    background-size: cover;
    margin: 0;
}

.hero .wrapper {
    height: 810px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.boite {
    background-color: #FF00F2;
    opacity: 70%;
    width: 417px;
    height: 164px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 64px;
}

.boite h1 {
    color: #F6F7FA;
    font: bold 1.88rem "Merriweather Sans", sans-serif;

}

/*accroche*/

.accroche {
    background-color: #081E99;
    height: 132.47px;
}

.accroche .wrapper {
    height: 132.47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accroche p {
    margin: 0;
    font: normal 1.88rem "Merriweather Sans", sans-serif;
    color: #F6F7FA;
}

.accroche .cta {
    padding: 10px 30px;
    border-radius: 8px;
}


/*Produits*/

.produits {
    background-color: #000E5F;
    height: 857px;
}

.produits h2 {
    padding-top: 45px;
}

.enfants {
    display: flex;
    gap: 13px;
}

.adultes {
    display: flex;
    gap: 13px;
}

.produits h3 {
    font: bold 1.37rem "Inria Sans", sans-serif;
    color: #F6F7FA;
}

.produits .cta {
    font-size: 1.5rem;
    padding: 15px 40px;
    border-radius: 8px;
}

.voir {
    display: flex;
    align-items: center;
    justify-content: center;
}